@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width:80%;
    margin: 0 auto;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.background-top-kontakt{
    width:100%;
    height:300px;
    background-image: url('./assets/kontakt_header.png');
    background-position: right;
    background-repeat: none;
    background-size: cover;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    padding: 0 0 48px 0;
}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contact-us{
    padding: 48px 0;
}

.contact .info-items{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info-items .info-item{
    display: flex;
    align-items: center;
    justify-self: start;
    padding: 24px 0;
}

.info-items .info-item img{
    width:78px;
}

.contact-us-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.contact-us-info p{
    padding: 12px 0;
}

.contact-us-info .btn a{
    font-size: 18px;
}

.contact-map{
    display: flex;
    align-items: flex-end; 
}

@media (max-width: 1296px){
    .contact{
        grid-template-columns: 1fr;
    }

    .contact-us-info{
        padding: 0 0 48px 0;
    }

    .contact-map{
        justify-content: center;
    }
}